.video__item {
  display: flex;
  flex-direction: column;
  margin: 8px auto 0;
  width: 100%;
  height: calc(100vw*0.95/16*9);
}

.video__item:first-child {
  margin-top: 0;
}

@media (min-width: 768px) {
  .video__item {
    width: 47.5%;
    height: calc(47.5vw*0.95/16*9);
    max-height: 325px;
    margin-top: 0;
  }
}