.footer__copyright {
    margin: 16px 0 0;
    padding: 0;
    text-align: left;
    vertical-align: top;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 768px) {
    .footer__copyright {
        margin: 0;
        text-align: right;
        line-height: 16px;
    }
}